language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.7'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: VQla4qyXr4u2mE38/pdRevi8wtN2nVsMM9DSdflR8aXA3a6z03uJ3Yk7rAq9i0YXPAEMGPYNbo2/TjFe2U8cMndvs+hjrv6hI1RC9J+wjWGKSXOc17gbd7ccEL42xJqXxVvQosZKV+/tCTzbgtjWDv5U+1dOFFqWUVjzg+kdf9NTVFwzTGgD4UDdO/76680hgxZCZp5GGzl31ARlDwt/hZiOfZS8Z9MZShz9a1UAqE2FOzNWK2SJKgY7b0SXCs3+H0pCcHGDGX3AHaQM5VrCMCCdROUY7356A95eKnss8KYsSPDC2JH5wuEyxV+FX5lDp2+lFFLSbwq1HOVxNoHILkS9x++3dKQIm+dn9GH/siQjmDMjaY/gDT9xrk1ljj1Tk2SNWXXJlTKqGaSGydvYJnByWqXyEWnJ6TqpXDamZL6QgdaU1pweQzWGAyzSgBP9x5dAC5xOx4AQU/x7AnP6gvs3EiPnJaYBmZSU8LwQubBYCTEWeUzC/KnCLyLXBnnq62ASni22PxZb/APX1r/CN8R/lu7EpLbtsitumw3/jYL55Pz/Qw97FTfx+zFfKx4/3vPbf6KJNfJRfBKCA1vogAsFXIfVBTGx4BR0hYGuZ3ZyWIxRc2u3pIt+jeiJa1QjeGL1O5VgV4msOhWgJ84TKMMuXW5uOc4oZfIQWhsUqhk=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
