language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.6'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: mrahnis
  password:
    secure: pypi-AgEIcHlwaS5vcmcCJDc4NDU1YjE4LTE0MDItNGUxMC04OTM2LWIyMTYyMTcyMzhmMwACPHsicGVybWlzc2lvbnMiOiB7InByb2plY3RzIjogWyJyaW8tdGVycmFpbiJdfSwgInZlcnNpb24iOiAxfQAABiCU5nVfcx_yS70BrVtw8Q87PZb4upHS1paKNhdMPSgaCA
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
