language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.6'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: mrahnis
  password:
    secure: HymK4URijOls0hJ4vp09wfMt0cwp5v09uvlapr6EA1LfHVEjrBOeKO6vxfWgBaYEmzl6QK5pQ2pPvlfumpTtfFBQ6ZbhMgc0fxos1E4nGXg5L9nuDxFyCDzCo/W8nkBcJ8crincNmc4ifeHGqhWAX6ZQAF8KBW8ZoQqyATnHuzTpFaHC9yLFftlVVvuQQsJKxObB8BJj5RN8nYpOVBIviPtjIPqCRqPG9ErV2umoKCasbAxUgH7N6t7ioPnMcgPYW3+6tt6Auc7WXuXaX7i6DeNsMW1PF9Wmc0GbeWnN11HWFEOADZ5v9gzwgCMP7zY4OU2nsodkAlnY98CLxU9EfbBYMmWHPf1R3RHmPDtqHq7G+hLANZkfN7nQV2fhwskXb6xS7s7CkgDPOSFDvAKLznbNusRURla7vHijWpunTd5o3YkNei+dwl7x5uVIumJRCWsaYH4E19iE3Q6aX1l8ivJ6em+fthXQtfsTevlEFTQkz53SFRYtbePnFzUtv5NHZzHij2F07FsU3Ogu3JI8phGw+LUsoGaiI/LV0wunQ+8SPlZrv2fqHm/3PbqJdgDhS9XsC/tQLwbLmMOIxVm/9SfQQ4cgOEZR/6K0PDZ5q7biJlO1784wduNJx0ORnyXnz8DaB348Y4kis5TOCk2/NzbkHUG+c4oKQlrlJCrCz9w=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
