language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.6'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: mrahnis
  password:
    secure: GBnWD4sPVXrSgmcu1ZaRvHTXpYbZPXRPd99GRunVoBVm4ul0bcvaYjw7ftUihpOpDTyMg/xWOALcyNSLY67pMkb3EaIVPjvC+nvjmcjLCFlH5R5pq5dRtOV+7xf6jnNi2Iqy7P430KSaZVkT4+oac469vU8C641jnRp+Zx7zcH64+y0TXP24D7hMHHnAiW9e42tEG49fXZBxnd50Oxh3+v3VDKKm/zCuMKwY3dzasLsliBsAwmPRwXpjyJGegCIopMWTHEdghUpTPLnL5glDDk0p9EZuB6RZJcxeZq7Z2tIVAkr80mrL1/TRR4sKkO1TGVW0gFakC06NRuskKI1dKh/P9llcFRHClhVmwBfJ8C86dGB7YiPR/J8K/1SLUM97q1iXvMEeOwTOVm0O3DNlUs4xzod4Lii39YsS6LZRLqXcAfH0hyQ/oIyGzANMry0gULKv2ru3j6aj2VWgm2rh8KHJL9NOHPOH7I3lcG5nu7qjrvl9RPvuEfZzslRm1JzCOElsnjdBEtNnDn9H65rS0Ii320PW3gUbauWvsxiNOxJEfkZ05gIZh/zCcxSEiauzdUq/ono7YYkEwc8FIPYxK7q7ndGFvXE24J/8vynk9q0EIYZeMCPNtFI/dEhw0xELiBWwcFVBoMVxBoZI9GkKZ6msEUoUOE1oO9fbuv5lyys=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
