language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.6'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: mrahnis
  password:
    secure: e1fkY1NC3OPzFHV8YuC9qnIIkIAdhiEUeHMgdMNy6JHW+tmC/u8WRorQOHFSUgexSGMS5h9kgliPZ6pnWYn1hogkJ2n1HvGi8yWqUNtvqdReQzwBunjTlVUBwkfVT6TsxzZ/ZG5ljT5IgqZlhlIsU2NYSAS30jypYays2yonQJ9YDAOjjURQt/dbXoK+xz5+bzwnPWnIMZ7GSyPVFwsbUMebhSlpvCAmtASagUnzQBetdRJaMEt8P2vVdBoyg8DzdDk15PRkHJ8Yy0Emii+HotQ6f/lbEL+Vd6iHlYha2J3HfcBXBoK6kONBJhhIbHxPaNWWG3Nqd+Sr/IY+5T/NqSgLuBcBXU+X/mRA3VEUT1ayQWhh6BiEsiqogR3LHiVh7FuczdV4x6oDHMlOWcANG4IA6dPkznWv9AvAUExyOr0jjcIJ/WqSqMcHxTDE8pGDlvy6A6LrleTCV3OJu8LXMpuQjLlyoT5Hjgnc6g+nSnejK+FI7y4YXjyRlgXPZAVsVrLMXIh5KMSbgVX5GwXATSdohhYfcOh7D0+5qkrjkxlFvOcDrHUegl9oasF+7gDBgJaOPDUn2zxCCKEZjMSBScw9TqIppyE/nv5B7rOtSUiqau9iw7EltwrmJS8qMg8j9qlCgp0aM58z/b6fe1d74jP677yVo8JPI46uNnR69eY=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
