language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.6'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: mrahnis
  password:
    secure: aZUd4mDj40CTTcv7SoVg6GZr4ZZqmQl/w77mf7eOE5xHxc3SCnCRXSQO87P2kdPtAEEYDJxOOpKYtmnmRQSaJxscmSnH2vaimhORrZPgY3X3EZnrJt/UQ2NfnhChsu0lGKkqf5IOzYK6VISDPZ1fM8T+bhIwBobmXiCYKypcMhWAzfaBnufMiUPWKl4VA5onHgKSrCRV36SOGI1CFqKtLblaAisa6la9tufhtgmF5Gm1iRSEaMhofOEaE3/3cWHWyRl8/I/XTag5me5lU2DsZPjqhWeKzMjuX9pIO29+aKrBhk9nG5XORrZ7dDOsWYhr2nMi4Rzuc1HXBV7dVR5kx8u6pKjZxdYpyErZ7YjKhplyIfEPjmznxfqNslkbbfv8aUHLiMCxaJf9Ut9cZwMhveFvXdSprzLXp4Q2zk4zsn4vgOSAoa2Or2chFqLm0NtYVk2/cvbsuvfq0KLzBH9nnRQVJHX1F5PjrE95l9lpKd7pYoGaRcOHxwKH0lc9BylGxBvtCE1k3G0h7PW1BA0gCT5I57psPlpm0Lo7xzvMq4AA9yuvpGYccHu6t6DmvC/Y7nNZR2u6s+uvHNewfdQZfQKKI93om03Y7tm+dygmF+q28Dsrh9OMtbq9LkFurnBxCg5YyC/ADQpG1oMaKrKY4Q3PvgOFmaqxUABP9RKMCAY=

  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
