language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.6'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: mrahnis
  password:
    secure: nJDgy2IKkwH+B0ylLnfbSj6dYqM3dvJYg4h/KSIhdL0nQWb6/yDY4zfUJSWRRpyeHG2GqU3SqxyJwix7c+pFymb8oNsKoEn5rjNx7PMacWxJex1qY5z7tKFcsz9VFy1VkXzkE9b3pgq2k/lTZaNLEhpMBT7ofZuIgp/sPC9vZmwJGObwXwqDuVnbHklHDHPYBBSOJmxz9VNDxPjfUAvkVgBs804t/yINfqA6myRzmFk0DMPnzKQfS4GSenwnd4ZLrUiOB09o0qDjTP6NijFt87fs16IyPiMHVwiL3jKOuhNSlXoNqILuSeN18qTMbPuP03pndUitJjwBa4etTjZ5iorZvj2Jvbin/rPcuiN/9E7hU93pmg1uZpIl6Nn+3lwS/zkxt4r7nCEzc5wZs+kbcpI9wrF7qYijDd+f2BcG18NC+iIOhmJc6gRT52tqQJPDVSfLaGfW2n+e4Jp0Y+rqqiy7T5j5ZRWLc9c7mZ3Aa1ttbTvFidTOnQVLxQDq/J50mCB5bMc9/Q37el1T4l3aR+OlWlx4m+x0G1FOey09tlna5ny/zVPWoAV2M92OmKTM98y569mZEGyZ9r14Hc0F4v5N1GDrGqnQwdyaaEmnIrs13fXcJu/NnZHBuVoiFqFQzNDyhGDRVPW8ima6QRZ6SJrk+JvRgFivBJQzM69+D2c=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
