language: python
sudo: false
cache:
  directories:
  - "$HOME/.pip-cache/"
env:
  global:
  - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
  - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
python:
- '3.7'
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
- pip install cython
- pip wheel -r requirements.txt
- pip install .
script: pytest
deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: eB+dlApODsi7fTWVfidHVSjXwes5gU71B7MdL6FuYms2l9cFCasIapq97NBpxQ8rrAbs+zHHnY6JhbINrQP7/sEiXzVswhd0hSK6a36nzzjTSjqVYaSfINgG0KJAlaX9ZtAKF2Z5C/wJQU1EjgJfYCWE7t5Bm6AC5OG5mF5pXCGLJ+IoYkpel+95KSlrKhnNCaFjyLSg6rZE7I39RISxySd4qGMiQkxFcNZRLASjqhCXYCf6COAi5PD583usBC0o5bdG7+W286WRAjlecJKG1U2tDy3h2DcEZBlMaR41LOlTmdFOVCSH1h3uYtMmiihTtoc3h1zYIaJD9L6a7OYiycDNWIHs9/dw5A6d4WFuZPHofH2iqf1b4XSUlloNlnDBkcSWw+xKSowtkgGqFqHT0JYSzmScvGR02eXoAKrJIUKmOmVbbmJb78Lp311MgRMa+om0WcEoFUoScs2kVpO5CuayUD5mmSg+O0NaQdQNMz268wc7uBzyRo01/ie5EJ4/cqjxgJWcNRU7RE+iTjaWcXxZIWjv+b9Wg1iT6cBup4iLkHXM/jW3ABGIdhXDnnwEYW5ph6K6Sx+MX3CLr10aDAtIGW9bqV47So9kccUfr7NLrPB1uL7VCgIUiRP8yP2HoTf42p2clV4PA2NZhP/bnv3Lt8i+AmpUCCtxNd4+TKg=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: mrahnis/rio-terrain
  skip_cleanup: true
