# Test Conda Package

name: Conda package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  example-1:
    name: Ex1 Windows
    runs-on: windows-latest
    steps:
      - uses: goanpeca/setup-miniconda@v1
        with:
          miniconda-version: 'latest'
          activate-environment: rio
          auto-update-conda: true
          channels: conda-forge
          allow-softlinks: true
          channel-priority: flexible
          show-channel-urls: true
          use-only-tar-bz2: true
      - name: Conda build setup
        shell: pwsh
        run: |
          conda activate rio
          conda config --set always_yes yes --set changeps1 no
          conda install conda-build conda-verify anaconda-client pytest
          conda info
          conda list
          dir env: | %{"{0}={1}" -f $_.Name,$_.Value}
          Write-Host "==========================="
          Get-Location
          Write-Host "==========================="
          conda build .
