# Test Conda Package

name: Conda package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  example-1:
    name: Conda package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          activate-environment: rio
          python-version: 3.8
          auto-update-conda: true
          allow-softlinks: true
          channels: conda-forge
          show-channel-urls: true
          channel-priority: flexible
          environment-file: conda-build/environment.yml
          auto-activate-base: false
      - name: Conda build
        shell: pwsh
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda build .
          PACKAGE_PATH=$(find conda-bld/noarch/*.tar.bz2)
          PACKAGE_NAME=$(basename $WHEEL_PATH)
          echo ::set-env name=PACKAGE_PATH::$PACKAGE_PATH
          echo ::set-env name=PACKAGE_NAME::$PACKAGE_NAME
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: ${{ env.PACKAGE_PATH }}

