# Test Conda Package

name: Conda package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  example-1:
    name: Ex1 Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          activate-environment: rio
          python-version: 3.8
          channels: conda-forge
          channel-priority: flexible
          environment-file: conda-build/environment.yml
          use-only-tar-bz2: true
          auto-activate-base: false
      - name: Conda build setup
        shell: pwsh
        run: |
          conda activate rio
          conda config --set always_yes yes --set changeps1 no
          conda install conda-build conda-verify anaconda-client pytest
          conda info
          conda list
          dir env: | %{"{0}={1}" -f $_.Name,$_.Value}
          Write-Host "==========================="
          Get-ChildItem -Path .
          Write-Host "==========================="
          conda build .
