# Build Conda Package

name: Conda package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Conda package (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: [3.8]
        numpy-version: [1.19]
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Setup conda cache
        uses: actions/cache@v2
        env:
          # Increase this value to reset cache if etc/example-environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('conda-build/environment.yml') }}    
      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rio
          python-version: ${{ matrix.python-version }}
          auto-update-conda: true
          allow-softlinks: true
          channels: conda-forge
          show-channel-urls: true
          channel-priority: strict
          environment-file: conda-build/environment.yml
          auto-activate-base: false
          use-only-tar-bz2: true
      - name: Build conda package
        shell: pwsh
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda build . --python ${{ matrix.python-version }} --numpy ${{ matrix.python-version }}
          Copy-Item $env:CONDA_PREFIX\conda-bld -Destination . -Recurse
      - name: Upload package artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.python-version }}-packages
          path: conda-bld/noarch/*.tar.bz2

