# Test Conda Package

name: Conda package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  example-1:
    name: Ex1 Windows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          activate-environment: rio
          python-version: 3.8
          auto-update-conda: true
          allow-softlinks: true
          channels: conda-forge
          show-channel-urls: true
          channel-priority: flexible
          environment-file: conda-build/environment.yml
          auto-activate-base: false
      - name: Conda build setup
        shell: pwsh
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda build .

