# Test Conda Package

name: Conda package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  example-1:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.8']
    steps:
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          allow-softlinks: true
          channel-priority: flexible
          show-channel-urls: true
          use-only-tar-bz2: true
      - name: Conda build setup
        shell: pwsh
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda update -q conda
          conda install conda-build conda-verify anaconda-client pytest
          conda info -a
      - name: Conda build
        shell: pwsh
        run: |
          conda build .
          conda install rio-terrain --use-local
          pytest
      - uses: actions/upload-artifact@v2
        with:
          name: conda-bld-artifacts
          path: conda-bld\noarch\*.tar.bz2
